# EditorConfig: UTF-8 사용 (VS 등에서 한글 인코딩 이슈 방지)
# https://editorconfig.org

root = true

[*]
charset = utf-8-bom
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
charset = utf-8-bom

[*.cs]
charset = utf-8-bom
